<!-- Use this if/when I want to add a delete button beside any list item
https://github.com/ga-wdi-boston/full-stack-project/issues/620 -->

<!-- {{#each issues as |issue|}}

  <ul id="removeme" data-id="{{issue.id}}"> <li>Title: {{issue.title}}</small>
  <div class="issuelisting">
    {{#if issue.description}}
      {{issue.description}}
    {{else}}
      No description.
    {{/if}}
    <br><button class="remove">Remove</button>
  </div>
</ul>
{{/each}} -->



<!-- {{#each issues as |issue|}}

  <ul data-id="{{issue.id}}">
    <li><data-id="{{issue.id}}">Issue ID: {{issue.id}} Product: {{issue.product}}, Description: {{issue.description}}, Notes: {{issue.notes}}</small></li>
  </ul>

{{/each}} -->


<h1 id="issues_list">Current Issues and Outages</h1>
<br><br>
<!-- BEGIN PRODUCT LOOP // -->
{{#if issues}}
{{#each issues as |issue|}}
   <tr class="item">
        <td valign="top" class="textContent">
            <!-- <img src=""{{img}}" width="50" height="75" class="itemImage"" /> -->
            <h4 class="itemName">{{issue.product}}</h4>
            <span class="contentSecondary"><b>Description:</b> {{issue.description}}</span><br />
            <span class="contentSecondary"><b>Notes:</b> {{issue.notes}}</span><br />
            <span class="contentSecondary"><data-id="{{issue.id}}">ID: {{issue.id}}</span><br />
        </td>
<br>
        <!-- <td valign="top" class="textContent alignRight priceWidth">
            something else goes here
        </td> -->
    </tr>
    <tr><td> </td></tr>
    {{/each}}
    {{else}}
    <div><h3>There are no issues or outages to display at this time.  If you need to report an issue, please contact the Help Desk.</h3></div>
    {{/if}}

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<!-- // END PRODUCT LOOP -->
