<!-- Use this if/when I want to add a delete button beside any list item
https://github.com/ga-wdi-boston/full-stack-project/issues/620 -->

<!-- {{#each issues as |issue|}}

  <ul id="removeme" data-id="{{issue.id}}"> <li>Title: {{issue.title}}</small>
  <div class="issuelisting">
    {{#if issue.description}}
      {{issue.description}}
    {{else}}
      No description.
    {{/if}}
    <br><button class="remove">Remove</button>
  </div>
</ul>
{{/each}} -->



<!-- {{#each issues as |issue|}}

  <ul data-id="{{issue.id}}">
    <li><data-id="{{issue.id}}">Issue ID: {{issue.id}} Product: {{issue.product}}, Description: {{issue.description}}, Notes: {{issue.notes}}</small></li>
  </ul>

{{/each}} -->


<!-- BEGIN PRODUCT LOOP // -->

<h1 id="issues_list">Current Issues and Outages</h1>
<br><br><br>

{{#if issues}}

{{#each issues as |issue|}}
   <tr class="item">
        <td valign="top" class="textContent">
            <!-- <img src=""{{img}}" width="50" height="75" class="itemImage"" /> -->
            <h4 class="itemName">{{this.product}}</h4>
            <span class="contentSecondary"><b>Description:</b> {{this.description}}</span><br />
            <span class="contentSecondary"><b>Notes:</b> {{this.notes}}</span><br />
            <span class="contentSecondary"><data-id="{{this.id}}">Issue ID: {{this.id}}</span><br />
            <div>
          <br>
<p><button class="delete_myIssue" name="button" data-id="{{this.id}}">Delete</button>
   <button class="update-myIssue" name="button" data-id="{{this.id}}">Update</button></p>
</div>
</td>
<br>
    </tr>
    <tr><td> </td></tr>

    {{/each}}
    {{else}}
    <div><h3>You have no issues to display at this time.  You may create an issue by selecting the <b>Add a New Issue</b> button.</h3></div>
    {{/if}}

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<!-- // END PRODUCT LOOP -->
