<!-- Use this if/when I want to add a delete button beside any list item
https://github.com/ga-wdi-boston/full-stack-project/pets/620 -->

<!-- {{#each pets as |pet|}}

  <ul id="removeme" data-id="{{pet.id}}"> <li>Title: {{pet.title}}</small>
  <div class="petlisting">
    {{#if pet.description}}
      {{pet.description}}
    {{else}}
      No description.
    {{/if}}
    <br><button class="remove">Remove</button>
  </div>
</ul>
{{/each}} -->



<!-- {{#each pets as |pet|}}

  <ul data-id="{{pet.id}}">
    <li><data-id="{{pet.id}}">Pet ID: {{pet.id}} Product: {{pet.product}}, Description: {{pet.description}}, Notes: {{pet.notes}}</small></li>
  </ul>

{{/each}} -->


<h1 id="pets_list">Current Pets and Outages</h1>
<br><br>
<!-- BEGIN PRODUCT LOOP // -->
{{#if pets}}
{{#each pets as |pet|}}
   <tr class="item">
        <td valign="top" class="textContent">
            <!-- <img src=""{{img}}" width="50" height="75" class="itemImage"" /> -->
            <h4 class="itemName">{{pet.product}}</h4>
            <span class="contentSecondary"><b>Description:</b> {{pet.description}}</span><br />
            <span class="contentSecondary"><b>Notes:</b> {{pet.notes}}</span><br />
            <span class="contentSecondary"><data-id="{{pet.id}}">ID: {{pet.id}}</span><br />
        </td>
<br>
        <!-- <td valign="top" class="textContent alignRight priceWidth">
            something else goes here
        </td> -->
    </tr>
    <tr><td> </td></tr>
    {{/each}}
    {{else}}
    <div><h3>There are no pets or outages to display at this time.  If you need to report an pet, please contact the Help Desk.</h3></div>
    {{/if}}

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<!-- // END PRODUCT LOOP -->
